appdirs==1.4.3
attrs==18.2.0
beautifulsoup4==4.6.3
black==18.6b4
bottle==0.12.13
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PyYAML==3.13
redis==2.10.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.12
toml==0.9.6
urllib3==1.23
Werkzeug==0.14.1
